@{
    ViewBag.Title = "About";
}
    <h2>About the Communication Tracking System Application</h2>
    <div class="row">
        <div class="col-xl8">
            <p>
                This application is a remake of the original Helpline Application, and was intended to be used by Florida Department of Agriculture and Consumer Service's CTS Team within the Division of Plant Industry.
                The name was changed from HelpLine to CTS in May of 2020.
            </p>
            <footer>Created by Daniel Greco</footer>
        </div>
    </div>
    




