@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title and Support</h2>
<div class="row">
    <div class="col-xl-8">
        <h3>From the Author: </h3>
        <p>
            This application was made to be easy and user friendly, as well as to run efficiently.
            If there are any kind of defects on this application, or even if you have a concerns
            or comments please feel free to email me at the address provided below.
        </p>
        <h6>- Daniel Greco</h6>
        <div class="alert alert-primary">
            <h4 class="alert-heading">Contact Information</h4>
            <p>
                <span class="h5">Email: </span> <a class="font-weight-bold alert-link" href="mailto:daniel.greco@fdacs.gov">Daniel.Greco@fdacs.gov </a> <br />
                <span class=" h5">Phone Extension: </span> <span class="font-weight-bold">4731</span>
            </p>
        </div>
    </div>
</div>

