<?xml version="1.0"?>
<connectionStrings>
  <add name="HelplineContext" connectionString="Data Source=TLHSQL17DEV\DPI;Initial Catalog=HelplineDB; User Id=helpline_dau;Password=florida#1" providerName="System.Data.SqlClient" />
  <!-- “Data Source=TLHADMSQL12DEV\DPI;Initial Catalog=Helpline; User Id=helpline_dau;Password=florida#1”-->
  <!--"Data Source=TLHADMSQL12DEV\DPI;Initial Catalog=Helpline;Integrated Security=True"-->
</connectionStrings>
