body {
    /*padding-top: 50px;*/
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*EDIT*/
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

/*EDIT*/
/*Made the width of the card body wider so it can look consistent with the rest of the details view*/

.detailsCard .card-body{
    padding: 0;
}

.input-validation-error {
    color: #E74C3C;
}

#ajaxError {
    text-align: center;
    color: red;
}


@media only screen and (max-width: 990px) {
    #top #wrap_all .av_header_transparency {
        background-color: #668fa4 !important;
        color: #ffffff !important;
        border-color: #668fa4 !important;
    }

    #top .header_color .av-hamburger-inner {
        background-color: #eeab86 !important;
    }
}